/* fonts used */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
/* Lato & Montserrat */
body {
  font-family: 'Lato', sans-serif;
  --brown-color: #9f7857;
  --blue-color: #0361b8;
  --gold-color: #fffce9;
}
/* Font & Text classes */
.m-font {
  font-family: 'Montserrat', sans-serif;
}
.text-brown {
  color: var(--brown-color);
}
.text-blue {
  color: var(--blue-color);
}
.text-gold {
  color: var(--gold-color);
}
.text-dark-brown {
  color: #5f3310;
}
.text-white {
  color: #ffffff;
}
/* Background & Border classes */
.bg-blue {
  background-color: var(--blue-color);
  color: white;
}
.border-dark-gold {
  border: #e8d5bc 1px;
}
.border-brown {
  border: var(--brown-color) 1px;
}
/* hammer icon & list styling */
.h-icon {
  width: 1.5em;
  height: 1.5em;
}
.check {
  background: url('../images/custom-list-check.png') no-repeat left 50%;
  padding-left: 20px;
  line-height: 2;
}
#form-heading {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-shadow: 0px 2px 6px #004e96;
}
/* ID styles for backgrounds */
#top-hero {
  background-image: url('../images/deck.png');
  background-position: center;
  background-repeat: no-repeat;
}
#center-hero {
  background-image: url('../images/wood-bg.png');
  background-position: center;
  background-repeat: repeat-y;
}
#leads-form {
  background-image: url('../images/lead-form-background.png');
  background-position: center;
  background-repeat: no-repeat;
}
#form-card {
  background: url('../images/mask-cloud.png'), linear-gradient(#91caff, #91caff);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  border: solid #707070 1px;
}
#footer {
  background-color: #22170f;
  color: var(--brown-color);
  text-decoration: none;
}
