/* fonts used */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
/* Lato & Montserrat */
body {
  font-family: 'Lato', sans-serif;
  --light-gold-color:#9F7857;
}

.m-font {
  font-family: 'Montserrat', sans-serif;
}

.text-brown {
  color: var(--light-gold-color);
}

.text-dark-brown {
  color: #5F3310
}

.text-primary {
  color: #0361b8;
}

.text-white {
  color: #ffffff;
}

.text-gold {
  color: #fffce9;
}

.border-gold {
  border-color: #fffce9;
  border-width: 1px;
}

.border-brown {
  border-color: var(--light-gold-color);
  border-width: 1px;
}

.hammer-icon {
  width: 1em;
  height: 1em;
}

.check-list {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  line-height: 1.75;
  list-style-type: none;
}

.check {
    background: url('../images/custom-list-check.png') no-repeat left 60%;
    padding-left: 25px;
}

.bg-blue {
  background-color: #0361B8;
  color: white;
}

#top-hero {
  background-image: url('../images/deck.png');
  background-position: center;
  background-repeat: no-repeat;
}

#center-hero {
  background-image: url('../images/wood-bg.png');
  background-position: center;
  background-repeat: repeat-y;
}

#leads-form {
  background-image: url('../images/lead-form-background.png');
  background-position: center;
  background-repeat: no-repeat;
}
#footer {
  background-color: #22170F;
  color: var(--light-gold-color);
}
